@font-face {
    font-family: 'JetBrains Regular';
    src: url(assets/fonts/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: 'JetBrains Bold';
    src: url(assets/fonts/JetBrainsMono-Bold.ttf);
}

@font-face {
    font-family: 'JetBrains Extrabold';
    src: url(assets/fonts/JetBrainsMono-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Regular', monospace;
}

body, html, :root {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: rgb(11, 11, 11);
    color: white;
}

h2 {
    margin-top: 2rem;
}

.container {
    max-width: 90vw;
    margin: 0 auto;
}

header {
    padding: 2rem 0;
}

.logo {
    width: 90px;
    height: 35px;
    background: url(assets/logo.svg) center no-repeat;
    background-size: contain;
}

.hero {
    width: 100%;
    height: calc(100vh - 100px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-family: 'JetBrains Bold', monospace;
    font-size: 3rem;
    letter-spacing: -3px;
    margin: 1rem 0;
}

.hero h2, p {
    color: #B8B8B8;
}

.hero a {
    margin-top: 7rem;
}

.hero .primary:last-child {
    margin-left: 1rem;
}

.primary  {
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .5rem 1rem;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    text-decoration: none;  
    transition: all ease 200ms;
}

.primary:hover {
    opacity: .7;
}

.secondary  {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .5rem 1rem;
    background-color: #737373;
    border: 2px solid #737373;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    transition: all ease 200ms;
}

.secondary:hover {
    background-color: #424242;
}

#technologies {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.2rem;
    font-family: 'JetBrains Extrabold', monospace;
}

.proj-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.proj-card {
    width: 415px;
    background-color: #222222;
    border-radius: 10px;
    padding: 2rem;
    transition: all ease 200ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.proj-card p {
    font-size: 0.875rem;
}

.proj-card div:last-child {
    margin-top: 1rem;
}

.tec-project {
    width: 30%;
}

.proj-card:hover {
    transform: scale(1.05);
}

.screenshot {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 1rem;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #FCB64C;
    border-radius: 50px;
    margin-right: .5rem;
}

.done {
    background-color: rgb(11, 165, 11);
}

.logo-project {
    width: 50%;
    margin: 1rem 0;
}

hr {
    border: 0.5px solid #696969;
    margin: 1rem 0;
}

.cert-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.certificates {
    width: 32%;
    background-color: #222222;
    border-radius: 10px;
    padding: 2rem;
    transition: all ease 200ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.certificates span {
    color: #696969;
    font-family: 'JetBrains Bold', monospace;
    letter-spacing: 2px;
}

.logo-certi {
    width: 70%;
    height: 50px;
    margin-bottom: 2rem;
}

form {
    width: 50%;
}

.full {
    width: 100%;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    background-color: #222222;
    border: none;
    border-radius: 10px;
}

input {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    background-color: #222222;
    border: none;
    border-radius: 50px;
}

footer {
    margin-top: 2rem;
    background-color: #121212;
    padding: 2rem 0;
    text-align: center;
    font-size: 0.875rem;
}

.social img {
    margin: 1rem;
    opacity: .7;
}

.social img:hover {
    opacity: 1;
}